* {padding: 0;margin: 0;border: 0;}
*,
*:before,
*:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,
:active {outline: none; -webkit-tap-highlight-color: transparent;}
a:focus,
a:active {outline: none; -webkit-tap-highlight-color: transparent;}
nav,
footer,
header,
aside {display: block;}
html,
body {height: 100%;width: 100%;
     font-size: 100%;
     line-height: 1;
     font-size: 14px;
     -ms-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
     height: 100%; font-weight: 400; 
     font-family: 'Ubuntu', sans-serif; 
     color: var(--color-black); 
     height: 100dvh; min-width: 
     320px;}
input,
button,
textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a {font-size: inherit;color: inherit;display: inherit;}
ul li {list-style: none;}
img {vertical-align: top; max-width: 100%; object-fit: cover;}
h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: inherit;}

@font-face {
  font-family: 'Ubuntu';
  src:  url("../fonts/Ubuntu-Bold.woff");
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src:  url("../fonts/Ubuntu-Regular.woff");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
}

body.lock {
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
._container{
  max-width: 1440px;
  margin: 0 auto;
}
.main {
  flex: 1 1 auto;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
  /*
  1600px / 100px
  1vw = 16px
  100px / 16px = 6.25vw
  */
.subtitle {
  font-size: clamp(40px, 3.3vw, 48px);
  font-weight: 700;
  color: var(--color-white);
}
.text {
  line-height: 171%;
  margin-bottom: 15px;
} 
:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-yellow: #FFC700;
  --color-red: #C65354;
}
.button a {
  background-color: var(--color-yellow);
  width: 100%;
  padding: 16px;
  border-radius: 30px;
  color: var(--color-black);
}
/*---------------------------------------header----------------------*/
.header__burger-wrapper {
  display: none;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 9;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1310px;
  padding: 20px;
  margin: 0 auto;
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 30px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.3);
}
.menu__link {
  border-radius: 30px;
  padding: 15px;
  line-height: 143%;
}
.header__button {
  flex-basis: 220px;
}
.button {
  text-align: center;
}
.button a:active{
  background-color: #DEAD00;
}
.header__button--mod {
  display: none;
}
.bg_active {
  background-color: var(--color-white);
}
/*---------------------------------------header----------------------*/

/*---------------------------------------main-section----------------------*/
.main-section__content {
  position: relative;
  padding-top: 200px;
}
.main-section__body {
  position: relative;
  z-index: 2;
}
.main-section__img {
    margin: 0px -75px;
    margin-bottom: -2px;
}
.main-section__bg,
.about__bg,
.group__bg,
.actors__bg,
.characters__bg,
.media__bg,
.ticketsharing__bg,
.footer__bg,
.ensemble__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-section__block-image img {
  width: 100%;
}
.main-section__box {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  text-align: center;
  width: 100%;
  z-index: 5;
}
.main-section__box-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: clamp(18px, 1.6vw, 24px);
  line-height: 158%;
  width: 100%;
}
.main-section__box .button {
  max-width: 290px;
  margin: 0 auto;
}
.main-section__body-logo {
  opacity: 0;
  transition: all 5s ease 0s;
  position: absolute;
  top: 100px;
  left: 148px;
  z-index: 3;
}
.main-section__body-logo._action {
  opacity: 1;
}
.main-section__moon {
  position: absolute;
  top: 100px;
  opacity: 0;
  right: 175px;
  transition: all 2s ease 0s;
  transform: translate(0px,-120%);
  z-index: 3;
}
.main-section__moon._action  {
  transform: translate(0px,0px);
  opacity: 1;
}
/*---------------------------------------main-section----------------------*/


/*---------------------------------------Slider----------------------------*/

/*---------------------------------------Карточка----------------------------*/
.section-slider {
  position: relative;
  margin-top: -1px;
  margin-bottom: 137px;
}
.slider {
  overflow: hidden;
}
.card {
  font-size: clamp(18px, 1.6vw, 24px);
  padding: 15px 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: var(--color-white);
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
}
.card__person-name {
  font-style: normal;
  display: block;
  margin-top: 20px;
  white-space: nowrap;
}
.card__text {
  margin-bottom: 25px;
  line-height: 144%;
}
.card__person-post {
  color: var(--color-yellow);
  margin-top: 5px;
  font-size: 14px;
}
/*---------------------------------------Карточка----------------------------*/
.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease 0s;
  z-index: 999;
}
.popup__body{
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  max-width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(151, 151, 151, 0.8);
  border-radius: 30px;
  padding: 40px 40px 60px 40px;
  position: relative;
}
.popup.open{
  opacity: 1;
  visibility: visible;
}
.popup__close {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 40px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.popup__close::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 25px;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-black);
  transform: rotate(45deg);
}
.popup__close::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 25px;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-black);
  transform: rotate(-45deg);
}
.card--mod {
  display: block;
  text-align: start;
  padding: 0px;
}
.card__person--mod {
  display: flex;
  align-items: center;
  gap: 10px 30px;
  flex-wrap: wrap;
}
.card__person-img--mod {
  margin-bottom: 40px;
}
.card__text--mod {
  margin-bottom: 0px;
  font-size: 14px;
}
/*---------------------------------------Slider----------------------------*/

/*---------------------------------------about----------------------------*/
.about {
  position: relative;
}
.about__content {
  position: relative;
  padding-bottom: 120px;
  margin-bottom: -5px;
}
.about__body {
  position: relative;
  z-index: 2;
  color: var(--color-white);
}
.about__body-inner {
  max-width: 850px;
  margin: 0 auto;
}
.about__subtitle {
  margin-bottom: 40px;
  position: relative;
}
.about__text {
  margin-bottom: 120px;
}
.about__text a,
.about__block-text a {
  display: inline;
  color: var(--color-yellow);
}
.about__block {
  border-radius: 30px;
  padding: 30px 40px;
  backdrop-filter: blur(50px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 100px;
}
.about__img {
  position: absolute;
  top: -200px;
  left: -200px;
  z-index: -1;
}

/*---------------------------------------about----------------------------*/

/*---------------------------------------images----------------------------*/
.images__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: -3px;
}
.images-slider {
  overflow: hidden;
  position: relative;
  z-index: 5;
  background-color: var(--color-black);
}
.popup__images {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  max-width: 1040px;
}
.popup__img .popup__content {
  padding: 50px 0px 20px 0px;
  background-color: inherit;
}
.popup__img .popup__close {
   position: fixed;
   top: 5px;
   right: 5px;
   z-index: 9;
}
.images-slider .swiper-slide img {
   height: 400px;
   width: 100%;
}
.popup__images img  {
    height: 170px;
}
.f-thumbs__viewport {
  display: none;
}
.premiere__image {
  width: 111px;
}
.images__content {
  background-color: var(--color-black);
}
.images-slider .swiper-slide {
  margin: -10px 0px;
}
/*---------------------------------------images----------------------------*/

/*---------------------------------------group----------------------------*/
.group__content {
  position: relative;
  padding: 100px 10px 380px;
}
.group__body {
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
  position: relative;
  z-index: 3;
}
.group__subtitle {
  margin-bottom: 60px;
}
.group__subtitle .subtitle{
  color: var(--color-black);
}
.group__text {
  margin-bottom: 60px;
}
.group__person1 {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.5s ease 0s;
}
.group__person2 {
  transform: translate(0px,120%);
  opacity: 0;
  transition: all 1s ease 0s;
}
.group__person3 {
  transform: translate(0px,120%);
  opacity: 0;
  transition: all 1.5s ease 0s;
}
.group__person4 {
  transform: translate(0px,120%);
  opacity: 0;
  transition: all 2s ease 0s;
}
.group__person5 {
  transform: translate(0px,120%);
  opacity: 0;
  transition: all 2.5s ease 0s;
}
.group__person6 {
  transform: translate(0px,120%);
  opacity: 0;
  transition: all 3s ease 0s;
}
.group__person7 {
  transform: translate(0px,120%);
  opacity: 0;
  transition: all 3.5s ease 0s;
}
.group__person8 {
  transform: translate(0px,120%);
  opacity: 0;
  transition: all 4s ease 0s;
}
.group__person._action {
  transform: translate(0px,0px);
  opacity: 1;

}
.group__person:not(:last-child){
  margin-bottom: 30px;
}
.group__person-name {
  font-size: 24px;
  margin-bottom: 10px;
}
.group__person-name a,
.character__box-actor .actor {
  display: inline-block;
  scale: 1;
  transition: all 0.5s ease 0s;
}
.group__person-post {
  color: var(--color-red);
  font-size: 18px;
}
.group__img-mini {
  display: none;
}
.group__moon {
  position: absolute;
  top: 15%;
  left: 73px;
  z-index: 2;
}
/*---------------------------------------group----------------------------*/

/*---------------------------------------actors---------------------------*/
.actors {
  position: relative;
}
.actors__content {
  position: relative;
  padding: 120px 20px 160px;
}
.actors__body {
  position: relative;
  z-index: 2;
  max-width: 850px;
  margin: 0 auto;
}
.actors__subtitle {
  margin-bottom: 80px;
}
.actor__block {
  margin-bottom: 160px;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
  gap: 60px 100px;
  justify-items: center;
}
.actor {
  text-align: center;
}
.actor__img {
  margin-bottom: 20px;
}
.actor__name {
  color: var(--color-white);
  font-size: clamp(14px, 1.6vw, 24px);
  margin-bottom: 10px;
  white-space: nowrap;
  scale: 1;
  transition: all 0.5s ease 0s;
}
.actor__character {
  font-size: clamp(12px, 0.9vw, 14px);
  color: var(--color-yellow);
}
.card__list-item {
  padding-left: 20px;
  position: relative;
  margin-bottom: 15px;
  line-height: 171%;
}
.card__list-item::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 4px;
  border-radius: 50%;
  top: 10px;
  left: 0;
  background-color: var(--color-white);
}
.actor__image {
  position: absolute;
  top: 25%;
  left: -295px;
  z-index: -1;
}
.actor__image-mini {
  position: absolute;
  right: -20px;
  top: -50%;
  z-index: -1;
  display: none;
}
.actor1 {
  transform: translate(-120%,0px);
  opacity: 0;
}
.actor2 {
  transform: translate(0px,120%);
  opacity: 0;
}
.actor3 {
  transform: translate(120%,0px);
  opacity: 0;
}
.actor4 {
  transform: translate(-120%,0px);
  opacity: 0;
}
.actor5 {
  transform: translate(0px,120%);
  opacity: 0;
}
.actor6 {
  transform: translate(120%,0px);
  opacity: 0;
}
.actor7 {
  transform: translate(-120%,0px);
  opacity: 0;
}
.actor8 {
  transform: translate(0px,120%);
  opacity: 0;
}
.actor9 {
  transform: translate(120%,0px);
  opacity: 0;
}
.actor10 {
  transform: translate(-120%,0px);
  opacity: 0;
}
.actor11 {
  transform: translate(0px,120%);
  opacity: 0;
}
.actor12 {
  transform: translate(120%,0px);
  opacity: 0;
}
.actor13 {
  transform: translate(-120%,0px);
  opacity: 0;
}
.actor14 {
  transform: translate(0px,120%);
  opacity: 0;
}
.actor15 {
  transform: translate(120%,0px);
  opacity: 0;
}
.actor16 {
  transform: translate(-120%,0px);
  opacity: 0;
}
.actor17 {
  transform: translate(120%,0px);
  opacity: 0;
}
.actor18 {
  transform: translate(-120%,0px);
  opacity: 0;
}
.actor._action,
.character._action {
  transform: translate(0px,0px);
  opacity: 1;
  transition: all 1.5s ease 0s;
}
/*---------------------------------------actors----------------------------*/


/*---------------------------------------ensemble----------------------------*/
.ensemble__title {
  margin-bottom: 60px;
}
.ensemble__title .subtitle {
   font-size: clamp(30px, 3.3vw, 48px);
}
.ensemble__content {
  position: relative;
}
.ensemble__body {
  position: relative;
  z-index: 3;
  padding: 80px 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px 20px;
}
.ensemble__block:first-child {
  flex-basis: 511px;
}
.ensemble__block:last-child {
  flex-basis: 326px;
}
.ensemble__actor {
  margin-bottom: 30px;
  color: var(--color-white);
  font-size: clamp(16px, 1.3vw, 20px);
}
.ensemble__actors_box p:first-child{
  color: var(--color-white);
  margin-bottom: 5px;
}
.ensemble__actors_box p:last-child{
  color: var(--color-red);
  display: inline-block;
}
/*---------------------------------------ensemble----------------------------*/

/*---------------------------------------characters----------------------------*/
.characters__content {
  position: relative;
  padding: 120px 0px 180px;
}
.characters__body {
  position: relative;
  z-index: 2;
  max-width: 890px;
  margin: 0 auto;
  padding: 0px 20px;
}
.characters__subtitle {
  margin-bottom: 30px;
}
.characters__subtitle .subtitle {
  color: var(--color-black);
}
.characters__block {
  margin-top: -100px;
}
.characters__cards {
  margin-top: 60px;
}
.character--mod1 {
  margin-top: 200px;
}
.character--mod2 {
  margin-top: -220px;
}
.characters__cards-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.character {
  border-radius: 30px;
  padding: 30px 40px 60px 40px;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff8c;
  max-width: 380px;
  margin-bottom: 30px;
}
.character__image {
  margin-bottom: 40px;
}
.character__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
}
.character__hero {
  color: var(--color-red);
  margin-bottom: 40px;
  font-size: 18px;
}
.character__box-play {
  font-size: 18px;
  color: #B6B6B6;
  margin-bottom: 6px;
}
.character__box-actor {
  font-size: 24px;
  display: inline-block;
  text-align: start;
}
.character__box-actor :not(:last-child) {
  margin-bottom: 6px;
} 
.characters__moon1 {
  position: absolute;
  top: 9%;
  right: 0;
}
.characters__moon-center {
  position: absolute;
  top: 21%;
  left: 12%;
}
.characters__moon-center img {
  width: 660px;
}
.characters__moon2 {
  position: absolute;
  top: 39%;
}
.characters__moon3 {
  position: absolute;
  right: 5%;
  top: 58%;
}
.characters__moon4 {
  position: absolute;
  bottom: 7%;
}
.characters__man {
  position: absolute;
  right: 0;
  bottom: 0;
}
.characters__man--mod {
  display: none;
}
.character1,
.character2,
.character3,
.character4,
.character5,
.character6,
.character7,
.character8 {
  transform: translate(0px,50%);
  opacity: 0;
  transition: all 1s ease 0s;
}
.character7 {
  margin-top: -170px;
}
/*---------------------------------------characters----------------------------*/


/*---------------------------------------media----------------------------*/
.media__content {
  position: relative;
  padding: 160px 0px;
}
.media__body,
.ticketsharing__body,
.footer__body {
  position: relative;
  z-index: 2;
  max-width: 890px;
  margin: 0 auto;
  padding: 0px 20px;
}
.media__title {
  margin-bottom: 60px;
}
.media__subtitle {
  font-weight: 700;
  font-size: 32px;
  color: var(--color-white);
  margin-bottom: 30px;
}
.media__items {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(290px, 1fr));
  gap: 16px;
}
.media__item {
  position: relative;
  width: 100%;
  border-radius: 8px;
}
.media__item-photo img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.media__item-title {
  position: absolute;
  color: var(--color-white);
  bottom: 26px;
  font-size: 16px;
  left: 30px;
}
.media__photo {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
}
.media__items-button,
.media__items-button--mod {
  background-color: var(--color-yellow);
  width: 100%;
  border-radius: 30px;
  padding: 16px 60px;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--color-black);
}
/*---------------------------------------media---------------------------*/

/*---------------------------------------ticketsharing---------------------------*/
.ticketsharing__content {
  position: relative;
  padding: 60px 0px 100px;
}
.ticketsharing__title {
  font-weight: 700;
  font-size: clamp(53px, 6.2vw, 90px);
  color: var(--color-yellow);
  margin-bottom: 60px;
}
.ticketsharing__subtitle {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: clamp(36px, 3.3vw, 48px);
}
.ticketsharing__realized-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}
.ticketsharing__list {
  margin-bottom: 30px;
}
.ticketsharing__list-item {
  position: relative;
  line-height: 171%;
  padding-left: 40px;
  margin-bottom: 16px;
}
.ticketsharing__list-item::before {
  position: absolute;
  content: '';
  width: 11px;
  height: 11px;
  border-radius: 50%;
  top: 7px;
  left: 10px;
  background-color: var(--color-yellow);
}
.ticketsharing__list-item a {
  display: inline;
  color: #1481FC;
}
.ticketsharing__woman {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.ticketsharing__moon {
  position: absolute;
  bottom: 20%;
  z-index: 2;
  right: 0;
}
.ticketsharing__moon--mod {
  display: none;
}
/*-----------------------------------------ticketsharing-------------------------*/

/*-----------------------------------------posters-------------------------*/

/*-----------------------------------------posters-------------------------*/

/*---------------------------------------footer----------------------------*/
.footer {
  position: relative;
}
.footer__content {
  position: relative;
  padding: 160px 0px 100px;
}
.footer__body {
  text-align: center;
}
.footer__logo {
  margin-bottom: 76px;
}
.footer__button {
  max-width: 290px;
  margin: 0 auto;
}
.footer__social {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px 30px;
  flex-wrap: wrap;
}
.footer__text .text {
  color: var(--color-white);
  opacity: 0.6;
}
.footer__social-link--m a svg,
.footer__social-link--vk a svg {
  border-radius: 16px;
}
/*---------------------------------------footer----------------------------*/


/*---------------------------------------media----------------------------*/

/*---------------------------------------media-hover----------------------------*/
@media(hover:hover) {
  .menu__link:hover {
    background: rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease 0s;
  }
  .button a:hover {
    background-color: #FFE27A;
    transition: all 0.3s ease 0s;
  }
 .card__person-name:hover {
    color: var(--color-yellow);
    transition: all 0.3s ease 0s;
  }
  .group__person-name a:hover,
  .actor__name:hover,
  .character__box-actor .actor:hover {
    scale: 1.2;
  }
  .footer__social-link--m:hover a svg path {
    fill: var(--color-red);
    transition: all 0.3s ease 0s;
  }
  .footer__social-link--m:hover a svg {
    background-color: var(--color-white);
    transition: all 0.3s ease 0s;
  }
  .footer__social-link--vk:hover a svg path {
    fill: #1481FC;
    transition: all 0.3s ease 0s;
  }
  .footer__social-link--vk:hover a svg {
    background-color: var(--color-white);
    transition: all 0.3s ease 0s;
  }
}
/*---------------------------------------media-hover----------------------------*/

@media (max-width: 1400px) {
  .main-section__img-left {
    bottom: 220px;
  }
}

@media (max-width: 1200px) {
  .main-section__body-logo {
    margin-left: 66px;
  }
  .main-section__img-left {
    bottom: 150px;
  }
  .main-section__img-boy {
    margin-left: -100px;
  }
  .main-section__moon {
    position: absolute;
    top: 100px;
    right: 0;
    max-width: 200px;
  }
  .main-section__box {
    bottom: -100px;
  }
  .section-slider {
    padding-top: 150px;
  }
  .about__text,
  .about__subtitle {
    padding: 0px 20px;
  }
  .about__block {
    padding: 30px 20px;
  }
  .about__text {
    margin-bottom: 90px;
  }
  .ticketsharing__woman {
     display: none;
  }
  .ticketsharing__moon {
    width: 100px;
  }
  .group__moon {
    width: 200px;
    left: 0;
  }
}

@media (max-width: 850px) {
  .header__body {
    padding: 10px 20px;
  }
  .header__burger-wrapper {
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
    border-radius: 50%;
    position: relative;
    display: block;
    z-index: 4;
  } 
  .header__burger{
    z-index: 2;
    cursor: pointer;
  }
  .header__burger span {
    height: 1px;
    width: 15px;
    position: absolute;
    transition: all 0.3s ease 0s;
    background-color: var(--color-black);
    transform: translate(-50%, -50%);
  }
  .header__burger-wrapper span:first-child {
    left: 50%;
    top: 38%;
  }
  .header__burger-wrapper span:nth-child(2) {
    left: 50%;
    top: 51%;
  }
  .header__burger-wrapper span:last-child {
    left: 50%;
    top: 63%;
  }
  .header__burger-wrapper._active span:nth-child(2){
    opacity: 0;
  }
  .header__burger-wrapper._active span:first-child{
    transform: rotate(-45deg);
    left: 30%;
    top: 50%;
  }
  .header__burger-wrapper._active span:last-child{
    transform: rotate(45deg);
    left: 30%;
    top: 50%;
  }
  .menu{
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    backdrop-filter: blur(200px);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-white);
    padding: 70px 24px 24px 24px; 
    transition: All 0.5s ease 0s;
    overflow: auto;
    z-index: 2;
    border-radius: 0 0 30px 30px;
  }
  .menu._active{
    top: 0;
  }
  .menu__list{
    display: block;
    position: relative;
    margin-bottom: 24px;
    border-bottom: solid 1px #9F9F9F;
    border-radius: 0;
    background: none;
    backdrop-filter: initial;
  }
  .menu__link{
    font-size: 16px;
    padding: 12px 12px 12px 0px;
  }
  .header__button--mod {
    display: block;
  }
  .actor__block {
    gap: 20px 46px;
  }
  .characters__cards-group {
    flex-wrap: wrap;
    justify-content: center;
  }
  .characters__text {
    margin-bottom: 150px;
  }
  .character--mod1 {
    margin-top: 0px;
  }
  .character--mod2 {
    margin-top: 0px;
  }
  .media__subtitle {
    text-align: center;
  }
  .main-section__body-logo {
    left: 0;
  }
  .main-section__img-boy {
    margin-left: -40px;
  }
  .main-section__img-left {
    bottom: 50px;
    left: -100px;
  }
  .main-section__img-right {
    top: 120px;
    right: 0;
    width: 200px;
  }
}

@media (max-width: 600px) {
  .main-section__body-logo {
    max-width: 268px;
    left: -50px;
  }
  .main-section__moon {
    right: -80px;
    max-width: 147px;
    top: 50px;
  }
  .main-section__img-right,
  .main-section__img-left {
    display: none;
  }
  .main-section__img-boy {
    margin-left: -60px;
  }
  .card {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card__text {
    order: 1;
  }
  .card__person-img--mod {
    margin-bottom: 0px;
  }
  .card__person--mod {
    margin-bottom: 30px;
  }
  .about__block {
    margin-bottom: 90px;
  }
  .about__content {
    padding-bottom: 90px;
  }
  .about__body .button {
    margin: 0px 20px;
  }
  .about__img {
    max-width: 250px;
    left: -90px;
    top: -120px;
  }
  .group__content {
    padding: 57px 0px 0px;
  }
  .group__img-mini {
    display: block;
    margin-top: 68px;
    margin-bottom: -2px;
  }
  .group__person-wrapper {
    max-width: 320px;
    margin: 0 auto;
  }
  .actor__block {
    margin-bottom: 90px;
    grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
  }
  .characters__block {
    justify-content: center;
    flex-wrap: wrap;
  }
  .characters__cards--mod {
    margin-top: 0px;
  }
  .media__content {
   padding: 120px 0px;
  }
  .ticketsharing__moon--mod {
    display: block;
    width: 178px;
    margin: 0 auto;
  }
  .ticketsharing__moon {
    display: none;
  }
  .ticketsharing__content {
    padding: 60px 0px 30px;
  }
  .group__moon {
    display: none;
  }
  .popup__close {
    top: 20px;
    right: 20px;
  }
  .card__person--mod {
    display: block;
  }
  .footer__text {
    max-width: 300px;
    margin: 0 auto;
  }
  .images__body {
    flex-wrap: wrap;
 }
 .images-slider .swiper-slide img {
    height: 150px;
  }
}

@media (max-width: 450px) {
  .actor__block {
    grid-template-columns:repeat(auto-fit, minmax(300, 1fr));
    gap: 20px 46px;
  }
  .actors__content {
    padding: 90px 20px 90px;
  }
  .actor__image img {
    max-width: 400px;
  }
  .characters__man,
  .characters__moon4 {
    display: none;
  }
  .characters__content {
    padding-bottom: 0;
  }
  .characters__man--mod {
    display: flex;
    justify-content: end;
    margin-right: -20px;
  }
  .media__photo {
    border-bottom: none;
    padding-bottom: 0px;
  }
  .popup__content {
    padding: 40px 20px;
  }
  .characters__cards-group {
    gap: 0px;
  }
  .ensemble__body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .ensemble__block {
    text-align: center;
  }
  .ensemble__block:first-child {
    flex-basis: 100%;
 }
  .ensemble__actor {
    margin-bottom: 20px;
 }
  .ensemble__title {
    margin-bottom: 40px;
 }
}
@media (max-width: 400px) {
  .actor__image-mini {
    display: block;
  }
  .actor__image-mini img {
    max-width: 400px;
  }
  .actor__image {
    left: -20px;
    top: 80%;
  }
  .main-section__img {
    margin: 0px;
  }
}
/*---------------------------------------media----------------------------*/